[submodule "third_party/fused_kernels_cutedsl_lib"]
	path = third_party/fused_kernels_cutedsl_lib
	url = https://github.com/dungwoong/fused_kernels_cutedsl_lib.git
[submodule "third_party/helion_kernels_lib"]
	path = third_party/helion_kernels_lib
	url = https://github.com/adelmuursepp/helion_kernels_lib.git
[submodule "third_party/flash_attention"]
	path = third_party/flash_attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "third_party/mirage"]
	path = third_party/mirage
	url = https://github.com/mirage-project/mirage.git
	branch = main-to-evaluation
